body {
    font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
    background-color: #EAEAEA;
    height: 100vh;
    color: #3E3A37;
}

.error {
    background-color: #D72A25;
    color: #FFF;
}

.header {
    margin: 0 auto;
    text-align: center;
}

.login {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 45px 40px;
    background-color: #FFF;
}

div.title {
    font-weight: 300;
    font-size: 1.7rem;
    border-left: 20px solid #FF9C00;

    margin-left: -40px;
    padding-left: 20px;
    height: 40px;
}

input {
    display: block;
    margin: 10px 0;
}

button, .button, input[type=button] {
  cursor: pointer;
  margin: 0 0 1.25rem;
  border: none;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  display: inline-block;
  padding: 0.4rem 1.1rem;
  font-size: 0.9rem;
  background-color: #2ba6cb;
  border-color: #2285a2;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

button:hover, button:focus, .button:hover, .button:focus, input[type=button]:hover, input[type=button]:focus {
  background-color: #2285a2;
  outline: none;
  color: white;
}
