  <ul class="accounts">
    <h2>Test accounts</h2>
    <li>
    User: <span>alice</span>
    <div>Password: <span>WuSh3ohse4</span></div>
    </li>
    <li>User: <span>eve</span>
    <div>Password: <span>Voh0ohghai</span></div></li>
    <li>User: <span>bob</span>
    <div>Password: <span>quuojoo1Su</span></div>
    </li>
  </ul>
  <ul>
    <li>
    Test user accounts are meant to allow for an experience of Pixelated and they are published on our website with username and password.
    </li>
    <li>
    In this demo environment, we currently do not allow sending emails to other domains than try.pixelated-project.org.
    </li>
    <li>
    These accounts are accessible to a wide audience. The respective private
    PGP keys are stored on our server and we do have access to these
    specific keys.
    </li>
    <li>
    Please do not consider the test email addresses in any way secure.
    </li>
    <li>
    Messages sent to and from these accounts may be deleted without notice.
    </li>
    <li>
    Do not send any sensitive content to or from any of these test email
    addresses.
    </li>
  </ul>

