<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/dispatcher_static/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/dispatcher_static/pixelated.css">
    <link rel="stylesheet" type="text/css" href="/dispatcher_static/opensans.css">
    <!--<link rel="shortcut icon" href="/dispatcher_static/img/favicon.png" />-->

<body>
<div class="content">
    <div class="login">

        <img class="logo" src="/dispatcher_static/pixelated-logo-orange.svg" alt="Pixelated logo" />

        {% if error is not None %}
            <p class="error">
                {{ error }}
            </p>
        {% end %}

        {% if status is not None %}
        <div class="message-panel message-panel-small">
            <span>
                {{ status }}
            </span>
        </div>
        {% end %}

        <form class="standard" id="login_form" action="/auth/login" method="post" style="padding: 10px">
            <input type="text" name="username" id="email" class="text-field" placeholder="username">
            <input type="password" name="password" id="password" class="text-field" placeholder="password">

            <input type="submit" name="login" value="Login" class="button">
            {% raw xsrf_form_html() %}
        </form>
    </div>
    <div class="warning">
  {% include _login_screen_message.html %} 
   </div>
</div>
</body>

</html>
